@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#__next {
  height: 100%;
}

#map {
  height: 100%;
}

.slider-track[data-reach-slider-track] {
    background-color: black;
    color: red;
}

.slider-range[data-reach-slider-range] {
    background-color: black;
    color: red;
}

.slider-handle[data-reach-slider-handle] {
    background-color: black;
    color: red;
}